<launch>
  <arg name="stage" default="4"/>
  <param name="stage_number"  value="$(arg stage)"/>
  <node pkg="dqn_with_ucb" type="dqn_with_ucb.py" name="dqn_node" output="screen" />
  <node pkg="dqn_with_ucb" type="combination_obstacle_1.py" name="combination_obstacle_1" output="screen" />
  <node pkg="dqn_with_ucb" type="combination_obstacle_2.py" name="combination_obstacle_2" output="screen" />
</launch>

